.App {
  text-align: center;
}
#home-info {
  height: 980px;
  background-image: url("https://img.freepik.com/premium-photo/restaurant_23-2148014999.jpg?size=626&ext=jpg&ga=GA1.2.1890151805.1689798164&semt=ais");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  color: white;
}

#home-info h3{
  padding-top: 80px;
  margin-bottom: -30px;
  font-size: 40px;
}
#home-info h1 {
  font-size: 90px;
}

#home-info p {
  font-size: 20px;
}

#about-info{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: -20px;
  background-color: white;
  color:black;
  height: 750px;
  align-items: center;
}

#about-text {
  margin-left: 60px;
  text-align: left;
  align-self: self-start;
  
}
#about-text h2 {
  font-size: 60px;
}

#about-text h4 {
  font-size: 25px;
}

#about-text p {
  font-size: 15px;
  line-height: 25px;
  justify-self: left;
}


#moscow {
  height: 700px;
  display: grid;
  grid-template-rows: auto auto;
  place-content: end;
  gap: 50px;
  
}
#moscow img {
  
  height:325px;
  width:325px;
 
}
#hawaiian-pizza {
  align-items: center;
  justify-content: center;
  height: 700px;
  width: 450px;
}

