@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Fredericka+the+Great&family=IM+Fell+Great+Primer&family=Kaushan+Script&family=PT+Serif&family=Pacifico&family=Tangerine&display=swap');

.App {
  text-align: center;
}


/* For Regular Desktop sizes */

@media only screen and (min-width: 1200px) and ( max-width: 1920px){

  

#navbar-container {
  height: 100px;
  display: flex;
  flex-direction: row;
  margin-bottom: -40px;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;  
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#logo h1 {
  width: 180px;
  font-family: 'Kaushan Script', cursive;
  font-size: 20px;
}

#nav-links {
  list-style: none;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: 'PT Serif', serif;
  font-size: 25px;
}

#nav-links li a {

  color: inherit; /* Inherits the color from the parent element (white in this case) */
  text-decoration: none; /* Removes the underline */
}

#nav-btn {
  border-radius: 0%;
  border: 2px solid black;
  background-color: white;
  height: 50px;
  width: 160px;
  font-family: 'PT Serif', serif;
  font-size: larger;
  transition: background-color 0.6s ease;
}

#nav-btn:hover {
  background: linear-gradient(to top left, black 100%, transparent 0%);
  color: white;
  transition: background-color 0.6s ease;
  border: 2px solid white;
}


#home-info {
  height: 980px;
  background-image: url("https://img.freepik.com/premium-photo/restaurant_23-2148014999.jpg?size=626&ext=jpg&ga=GA1.2.1890151805.1689798164&semt=ais");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  color: white;
  font-family: 'PT Serif', serif;
}

#home-info h3{
  padding-top: 80px;
  margin-bottom: -70px;
  font-size: 40px;
}
#home-info h1 {
  font-size: 90px;
  font-family: 'Kaushan Script', cursive;
  font-weight: lighter;
}

#home-info p {
  font-size: 20px;
  font-weight: 400;
}

#about-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  color:black;
  height: 800px;
  align-items: center;
}

#about-text {
  margin-left: 150px;
  text-align: left;
  align-self: self-start;
  font-family: 'PT Serif', serif;
}
#about-text h2 {
  font-size: 60px;
  font-weight: lighter;
}

#about-text h4 {
  font-size: 25px;
  font-weight: lighter;
  font-style: italic;
}

#about-text p {
  font-size: 18px;
  line-height: 30px;
  justify-self: left;
  color: grey;
  width: 80%;
}

#img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 70px;
}

#moscow{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

#moscow img {
  width: 90%;
  height: 90%;
  object-fit: cover;
}

#hawaiian-pizza img {
  width: 100%;
  height: 95%;
  object-fit: cover;
}

#founded-container {
  height: 750px;
  margin-top: 150px;
  background-image: url("./assets/wineglass.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  align-content: center;
}

#founded-content {
  display: grid;
  align-content: center;
  font-family: 'PT Serif', serif;
  background-color: black;
  opacity: 0.8;
  height: 620px;
  color:white;
}

#founded-content h1{
  font-size: 60px;
  font-weight:10;

}

#founded-content p{
  font-size: 25px;
  font-weight: lighter;
  font-style: italic;
  margin-top: -10px;
}

#menu-container {
  height: 1200px;
  font-family: 'PT Serif', serif;
}

#menu-container h2 {
  font-size: 60px;
}

#menu-container Button {
  margin-top: 30px;
  border-radius: 0%;
  border: 2px solid black;
  background-color: white;
  height: 50px;
  width: 160px;
  font-family: 'PT Serif', serif;
  font-size: larger;
  transition: background-color 0.6s ease;
}

#menu-container button:hover {
  background: linear-gradient(to top left, black 100%, transparent 0%);
  color: white;
  transition: background-color 0.6s ease;
}
  /* add hover for button */

.products img {
  height: 400px;
  width: 400px;
}

.products {
  margin-left: 25px;
  display: grid;
  align-content: end;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 10px;
  
}

/* Styling for individual product divs */

.products .product-info {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  font-weight: 500;
  font-style: italic;
  
}

#review-container {
  height: 750px;
  background-image: url("./assets/review.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  align-content: center;
  color: white;
}

#review-content {
  display: grid;
  align-content: center;
  font-family: 'PT Serif', serif;
  background-color: rgba(0, 0, 0, 0.8);
  height: 620px;
  color:white;
  width: 100%;
}

#profile-container {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(2, 1fr);
}

#review-content h1{
  font-size: 50px;
  font-weight:10;
}

#review-content p{
  font-size: 25px;
  font-weight: lighter;
  font-style: italic;
  margin-top: -10px;
}

.review-profile img{
  height: 200px;
  width: 200px;
  border-radius: 80%;
}

.review-profile p {
  padding-top: 30px;
}

#footer-container {
  border-top: 1px solid black;
  height: 100px;
  display: flex;
  flex-direction: row;
  margin-bottom: -40px;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: white;  
}

.footer{
  
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

#footer-logo h1 {
  width: 180px;
  font-family: 'Kaushan Script', cursive;
  font-size: 20px;
}

#footer-details {
  list-style: none;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: 'PT Serif', serif;
  font-size: 14px;

}

#footer-details svg{
  margin-top: 10px;
}

/* CSS For Contacts Page */

#contact-container{
  margin-top: 50px;
  font-family: 'PT Serif', serif;
}


#contact-data-container{
  height: 750px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

#contact-info {
  margin-left: 200px;
  margin-top: -150px;
  text-align: left;
  
}

#contact-info h1 {
  font-weight: 800;
  font-size: 50px;
}

#contact-info p{
  font-weight: 500;
  font-style: italic;
  font-size: 20px;
}

.map {
  width: 80%;
  margin-right: -150px;
}
.map-container {
  width: 100%;
  height: 50vh;
}

#starter-container {
  
  height: 550px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
}

.image-side img{
  width: 100%;
  height: 550px;
}

.text-side {
  font-family: 'PT Serif', serif;
}

.text-side h1{
  margin-top: -100px;
  font-size: 50px;
  font-weight: 400;
}

.text-side p{
  font-size: 25px;
  font-style: italic;
  opacity: 0.5;
  line-height: 40px;
}

#starter-container button{
  border-radius: 0%;
  border: 2px solid black;
  background-color: white;
  height: 50px;
  width: 160px;
  font-family: 'PT Serif', serif;
  font-size: larger;
  transition: background-color 0.6s ease;
}

#starter-container button:hover {
  background: linear-gradient(to top left, black 100%, transparent 0%);
  color: white;
  transition: background-color 0.6s ease;
}


/* All Menu's CSS */

#menupages-container {
  height: 1500px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 70px;
  justify-content: center;
  align-items: center;
}

.menupages-header {
  display: grid;
  align-content: center;
  font-family: 'PT Serif', serif;
  background-color: black;
  font-size: 70px;
  font-weight: 500;
  opacity: 0.8;
  height: 720px;
  color:white;
}

.menupages-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 450px;

}

#menupages-container button{
  border-radius: 0%;
  border: 2px solid black;
  background-color: white;
  height: 50px;
  width: 160px;
  font-family: 'PT Serif', serif;
  font-size: larger;
  transition: background-color 0.6s ease;
 margin-left: 45.5%;
}

#menupages-container button:hover {
  background: linear-gradient(to top left, black 100%, transparent 0%);
  color: white;
  transition: background-color 0.6s ease;
}


.menu-left{
  display: grid;
  justify-content: space-around;
  text-align: left;
  align-items: center;
  border-right: 1px solid black;

}

.menu-right{
  display: grid;
  justify-content: space-around;
  text-align: left;
  align-items: center;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  border-bottom: 1px solid black;
  font-size: 23px;
  font-family: 'PT Serif', serif;
  font-style: italic;
}

/* images for each menu page */

.starter-image{
  /* margin-top: -30px; */
  height: 850px;
  background-image: url('./assets/mainMenuBread.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  align-items: center;
}

.maincourse-image {

height: 850px;
background-image: url('./assets/mainMenuPizza.jpg');
background-repeat: no-repeat;
background-size: cover;
display: grid;
align-items: center;
}

.dessertcourse-image {

height: 850px;
background-image: url('./assets/mainMenuDessert.jpg');
background-repeat: no-repeat;
background-size: cover;
display: grid;
align-items: center;
}

.drinkcourse-image {

height: 850px;
background-image: url('./assets/mainMenuDrinks.jpg');
background-repeat: no-repeat;
background-size: cover;
display: grid;
align-items: center;
}

/* about page CSS */

#about-container {
  margin-top: 40px;
  
}

#standards-container {
  display: grid;
  align-content: center;
  font-family: 'PT Serif', serif;
  height: 620px;
  margin-left: 50px;
}

#standards-container h1 {
  font-size: 65px;
  text-align: left;
  font-weight: 300;
  
}

#standards-container h2 {
  font-size: 35px;
  text-align: left;
  font-weight: lighter;
  
}

#standards-container p {
  font-size: 20px;  
  text-align: left;
  font-style: italic;
  color: grey;
  line-height: 30px;
}

.listOfStandards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


/* about page CSS */

#aboutpage-info{
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  align-items: center;
  height:450px;
}

#aboutpage-info img{
  width: 70%;
  height: 450px;
}

#aboutpage-text {
  margin-left: 80px;
  text-align: left;
  align-self: self-start;
  font-family: 'PT Serif', serif;
}
#aboutpage-text h2 {
  font-size: 60px;
  font-weight: lighter;
}

#aboutpage-text h4 {
  font-size: 25px;
  font-weight: lighter;
  font-style: italic;
}

#aboutpage-text p {
  font-size: 18px;
  line-height: 30px;
  justify-self: left;
  color: grey;
  width: 80%;
}

#aboutfounded-container {
  height: 550px;
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
}

#aboutfounded-content {
  display: grid;
  align-content: center;
  font-family: 'PT Serif', serif;
}

#aboutfounded-content h1{
  margin-left: -230px;
  font-size: 60px;
  font-weight:10;

}

#aboutfounded-content p{
  font-size: 30px;
  font-weight: lighter;
  font-style: italic;
  line-height: 50px;
  color: grey;
  margin-top: -10px;
  margin-left: 135px;
  text-align: left;
}

.aboutfounded-image img{
  width: 100%;

}

#aboutContact-container {
  height: 750px;
  margin-top: 150px;
  background-image: url("./assets/aboutpagecontact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  align-content: center;
}

#aboutContact-content {
  display: grid;
  align-content: center;
  font-family: 'PT Serif', serif;
  background-color: black;
  opacity: 0.8;
  height: 620px;
  color:white;
  justify-content: center;
}

#aboutContact-content p{
  font-size: 25px;
  font-weight: lighter;
  font-style: italic;
  margin-top: -10px;
}

#aboutContact-content button{
  border-radius: 0%;
  border: 2px solid black;
  background-color: white;
  height: 50px;
  width: 160px;
  font-family: 'PT Serif', serif;
  font-size: larger;
  transition: background-color 0.6s ease;
  margin-top: 50px;
  margin-left: 350px;
}

#aboutContact-content button:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}
}


/*



Mobile Screen Styles



*/







/* mobile device */
@media all and (max-width: 415px) {

  #navbar-container {
    height: 100px;
    display: flex;
    flex-direction: row;
    margin-bottom: -40px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;  
  }
  
  .navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  #logo h1 {
    width: 33vw;
    font-family: 'Kaushan Script', cursive;
    font-size: 1.3rem;
  }
  
  #nav-links {
    list-style: none;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'PT Serif', serif;
    font-size: 3vh;
  }

  .navbar li:not(:first-child){display: none;}
  .navbar li.icon {
    float: right;
    display: block;
  }
  .navbar li:hover {
    display: flex;
    flex-direction: column;
  }
  #nav-links li a {
  
    color: inherit; /* Inherits the color from the parent element (white in this case) */
    text-decoration: none; /* Removes the underline */
  }
  
  #nav-btn {
    border-radius: 0%;
    border: 2px solid black;
    background-color: white;
    height: 50px;
    width: 160px;
    font-family: 'PT Serif', serif;
    font-size: larger;
    transition: background-color 0.6s ease;
  }
  
  #nav-btn:hover {
    background: linear-gradient(to top left, black 100%, transparent 0%);
    color: white;
    transition: background-color 0.6s ease;
    border: 2px solid white;
    
  }
  
  
  #home-info {
    height: 85vh;
    background-image: url("https://img.freepik.com/premium-photo/restaurant_23-2148014999.jpg?size=626&ext=jpg&ga=GA1.2.1890151805.1689798164&semt=ais");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    color: white;
    font-family: 'PT Serif', serif;
  }
  
  #home-info h3{
    /* padding-top: 30px; */
    /* margin-bottom: -70px; */
    font-size: 20px;
  }
  #home-info h1 {
    font-size: 5vh;
    padding-top: 3vh;
    padding-bottom: 5vh;
    font-family: 'Kaushan Script', cursive;
    font-weight: lighter;
    
  }
  
  #home-info p {
    font-size: 1.5vh;
    font-weight: 400;
    line-height: 1vh;
  }
  
  #about-info{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    height: 110vh;
    background-color: white;
    color: black;
  }
  
  #about-text {
    margin: 0;
    text-align: left;
    align-self: self-start;
    font-family: 'PT Serif', serif;
  }
  #about-text h2 {
    font-size: 5vh;
    font-weight: lighter;
  }
  
  #about-text h4 {
    margin-top: -1vh;
    font-size: 2vh;
    font-weight: lighter;
    font-style: italic;
  }
  
  #about-text p {
    font-size: 18px;
    line-height: 30px;
    justify-self: left;
    color: grey;
    width: 80%;
  }
   
  #moscow img {
    width: 90%;
    height: 90%;
    object-fit: cover;
  }
  
  #hawaiian-pizza img {
    width: 100%;
    height: 95%;
    object-fit: cover;
  }
  
  #founded-container {
    height: 60vh;
    margin-top: 5vh;
    background-image: url("./assets/wineglass.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-content: center;
  }
  
  #founded-content {
    display: grid;
    align-content: center;
    font-family: 'PT Serif', serif;
    background-color: black;
    opacity: 0.8;
    height: 50vh;
    color: white;
  }
  
  #founded-content h1{
    font-size: 5vh;
    font-weight: 100;
  
  }
  
  #founded-content p{
    font-size: 1.8vh;
    font-weight: lighter;
    font-style: italic;
    margin-top: -10px;
    line-height: 3vh;
  }
  
  #menu-container {
    height: 310vh;
    font-family: 'PT Serif', serif;
  }
  
  #menu-container h2 {
    font-size: 5vh;
  }
  
  #menu-container Button {
    margin-top: 30px;
    border-radius: 0%;
    border: 2px solid black;
    background-color: white;
    height: 50px;
    width: 160px;
    font-family: 'PT Serif', serif;
    font-size: larger;
    transition: background-color 0.6s ease;
  }
  
  #menu-container button:hover {
    background: linear-gradient(to top left, black 100%, transparent 0%);
    color: white;
    transition: background-color 0.6s ease;
  }
    /* add hover for button */
  
  .products img {
    height: 40vh;
    width: 40vh;
  }
  
  .products {
    margin-left: -.2vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr))
    
  }
  
  /* Styling for individual product divs */
  
  .products .product-info {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    font-weight: 500;
    font-style: italic;
    
  }
  
  #review-container {
    height: 110vh;
    background-image: url("./assets/review.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-content: center;
    color: white;
  }
  
  #review-content {
    display: grid;
    align-content: center;
    font-family: 'PT Serif', serif;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    color:white;
    width: 100%;
  }
  
  #profile-container {
    display: grid;
    align-content: center;
    grid-template-columns: auto;
  }
  
  #review-content h1{
    font-size: 5vh;
    font-weight:10;
  }
  
  #review-content p{
    font-size: 1.3em;
    font-weight: lighter;
    font-style: italic;
    margin-top: -10px;
  }
  
  .review-profile img{
    height: 24vh;
    width: 24vh;
    border-radius: 80%;
  }
  
  .review-profile p {
    padding-top: 30px;
    
  }
  
  #footer-container {
    border-top: 1px solid black;
    height: 8vh;
    display: flex;
    flex-direction: row;
    margin-bottom: -40px;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;  
  }
  
  .footer{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
  }
  
  #footer-logo h1 {
    width: 35vw;
    font-family: 'Kaushan Script', cursive;
    font-size: 1.3rem;
  }
  
  #footer-details {
    display: none;
    justify-content: space-between;
  
  }
  
  
  /* CSS For Contacts Page */
  
  #contact-container{
    margin-top: 50px;
    font-family: 'PT Serif', serif;
  }
  
  
  #contact-data-container{
    height: 120vh;
    display: grid;
    grid-template-columns: none;
    justify-content: center;
    align-items: center;
  }
  
  #contact-info {
    margin-left: auto;
    margin-top: -22vh;
    text-align: -webkit-auto;
    
  }
  
  #contact-info h1 {
    font-weight: 800;
    font-size: 3rem;
  }
  
  #contact-info p{
    font-weight: 500;
    font-style: italic;
    font-size: 1.2rem;
  }
  
  .map {
    width: 100%;
    height: 32vh;
    margin-right: auto;
    margin-top: -38vh;
  }
  .map-container {
    width: 100%;
    height: 60.2vh;
  }
  
  #starter-container {
    height: 150vh;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
  }
  
  .image-side img{
    width: 100%;
    height: 50vh;
    margin-top: -2vh;
  }
  
  .text-side {
    font-family: 'PT Serif', serif;
  }
  
  .text-side h1{
    margin-top: -15vh;
    font-size: 3.5rem;
    font-weight: 400;
  }
  
  .text-side p{
    font-size: 1.4rem;
    font-style: italic;
    opacity: 0.5;
    line-height: 37px;
    line-break: auto;
  }
  
  #starter-container button{
    border-radius: 0%;
    border: 2px solid black;
    background-color: white;
    height: 50px;
    width: 160px;
    font-family: 'PT Serif', serif;
    font-size: larger;
    transition: background-color 0.6s ease;
  }
  
  #starter-container button:hover {
    background: linear-gradient(to top left, black 100%, transparent 0%);
    color: white;
    transition: background-color 0.6s ease;
  }
  
  
  /* All Menu's CSS */
  
  #menupages-container {
    height: 185vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 12vh;
  }
  
  .menupages-header {
    display: grid;
    align-content: center;
    font-family: 'PT Serif', serif;
    background-color: black;
    font-size: 4rem;
    font-weight: 500;
    opacity: 0.8;
    height: 65vh;
    color: white;
  }
  
  .menupages-menu {
    display: grid;
    grid-template-columns: auto;
    height: 60vh;
  
  }
  
  .menupages button{
    border-radius: 0%;
    border: 2px solid black;
    background-color: white;
    height: 50px;
    width: 160px;
    font-family: 'PT Serif', serif;
    font-size: larger;
    transition: background-color 0.6s ease;
  }
  
  .menupages button:hover {
    background: linear-gradient(to top left, black 100%, transparent 0%);
    color: white;
    transition: background-color 0.6s ease;
  }
  
  .items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 99vw;
    border-bottom: 1px solid black;
    font-size: 1.1rem;
    font-family: 'PT Serif', serif;
    font-style: italic;
  }
  
  /* images for each menu page */
  
  .starter-image{
    height: 80vh;
    width: 100vw;
    background-image: url('./assets/mainMenuBread.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: center;
  }
  
  .maincourse-image {
  
  height: 80vh;
  width: 100vw;
  background-image: url('./assets/mainMenuPizza.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  align-items: center;
  }
  
  .dessertcourse-image {
  
  height: 80vh;
  width: 100vw;
  background-image: url('./assets/mainMenuDessert.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  align-items: center;
  }
  
  .drinkcourse-image {
  height: 80vh;
  width: 100vw;
  background-image: url('./assets/mainMenuDrinks.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  align-items: center;
  }
  
  /* about page CSS */
  
  #about-container {
    margin-top: 40px;
    
  }
  
  #standards-container {
    display: grid;
    align-content: center;
    font-family: 'PT Serif', serif;
    height: 80vh;
    margin-left: 1vw;
    margin-top: 10vh;
  }
  
  #standards-container h1 {
    font-size: 4.5rem;
    text-align: left;
    font-weight: 300;
    
  }
  
  #standards-container h2 {
    font-size: 2.3rem;
    text-align: left;
    font-weight: lighter;
    
  }
  
  #standards-container p {
    font-size: 1.1rem;
    text-align: left;
    font-style: italic;
    color: grey;
    line-height: 3vh;
  }
  
  .listOfStandards {
    display: grid;
    grid-template-columns: auto;
  }
  
  
  /* about page CSS */
  
  #aboutpage-info{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    height: 140vh;
    margin-top: 0;
  }
  
  #aboutpage-info img{
    width: 90%;
    height: 50vh;
  }
  
  #aboutpage-text {
    margin-left: 2vw;
    text-align: left;
    align-self: self-start;
    font-family: 'PT Serif', serif;
  }
  #aboutpage-text h2 {
    font-size: 3.5rem;
    margin-top: -5vh;
    font-weight: lighter;
  }
  
  #aboutpage-text h4 {
    font-size: 1.5rem;
    margin-top: -2vh;
    font-weight: lighter;
    font-style: italic;
  }
  
  #aboutpage-text p {
    font-size: 1.1rem;
    line-height: 3.5vh;
    justify-self: left;
    color: grey;
    width: 92%;
  }
  
  #aboutfounded-container {
    height: 80vh;
    margin-top: -20vh;
    display: grid;
    grid-template-columns: inherit;
    /* align-content: center; */
  }
  
  #aboutfounded-content {
    display: grid;
    align-content: center;
    font-family: 'PT Serif', serif;
    margin: auto;
  }
  
  #aboutfounded-content h1{
    display: grid;
    justify-content: center;
    font-size: 3em;
    font-weight: 10;
    margin: 0;
  
  }
  
  #aboutfounded-content p{
    font-size: 1.2rem;
    font-weight: lighter;
    font-style: italic;
    line-height: 4vh;
    color: grey;
    margin: 0px;
    margin-top: 2vh;
    margin-left: 2vw;
   
  }
  
  .aboutfounded-image img{
    margin-top: 5vh;
    width: 100%;
  
  }
  
  #aboutContact-container {
    height: 53vh;
    margin-top: 24vh;
    background-image: url('./assets/aboutpagecontact.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-content: center;
  }
  
  #aboutContact-content {
    display: grid;
    align-content: center;
    font-family: 'PT Serif', serif;
    background-color: black;
    opacity: 0.7;
    height: 45vh;
    color: white;
    justify-content: center;
  }
  
  #aboutContact-content p{
    font-size: 1.1rem;
    font-weight: lighter;
    font-style: italic;
    margin-top: -5vh;
    width: 77%;
    margin-left: 12vw;
  }
  
  #aboutContact-content button{
    border-radius: 0%;
    border: 2px solid black;
    background-color: white;
    height: 6vh;
    width: 37vw;
    font-family: 'PT Serif', serif;
    font-size: larger;
    transition: background-color 0.6s ease;
    margin-top: 6vh;
    margin-left: 31vw;
  }
  
  #aboutContact-content button:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
  }
  


}

