@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Fredericka+the+Great&family=IM+Fell+Great+Primer&family=Kaushan+Script&family=PT+Serif&family=Pacifico&family=Tangerine&display=swap');

.App {
  text-align: center;
}

#navbar-container {
  height: 100px;
  display: flex;
  flex-direction: row;
  margin-bottom: -40px;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;  
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#logo h1 {
  width: 180px;
  font-family: 'Kaushan Script', cursive;
  font-size: 20px;
}

#nav-links {
  list-style: none;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: 'PT Serif', serif;
  font-size: 25px;
}

#nav-links li a {

  color: inherit; /* Inherits the color from the parent element (white in this case) */
  text-decoration: none; /* Removes the underline */
}

#nav-btn {
  border-radius: 0%;
  border: 2px solid black;
  background-color: white;
  height: 50px;
  width: 160px;
  font-family: 'PT Serif', serif;
  font-size: larger;
  transition: background-color 0.6s ease;
}

#nav-btn:hover {
  background: linear-gradient(to top left, black 100%, transparent 0%);
  color: white;
  transition: background-color 0.6s ease;
  border: 2px solid white;
}


#home-info {
  height: 980px;
  background-image: url("https://img.freepik.com/premium-photo/restaurant_23-2148014999.jpg?size=626&ext=jpg&ga=GA1.2.1890151805.1689798164&semt=ais");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  color: white;
  font-family: 'PT Serif', serif;
}

#home-info h3{
  padding-top: 80px;
  margin-bottom: -70px;
  font-size: 40px;
}
#home-info h1 {
  font-size: 90px;
  font-family: 'Kaushan Script', cursive;
  font-weight: lighter;
}

#home-info p {
  font-size: 20px;
  font-weight: 400;
}

#about-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  color:black;
  height: 800px;
  align-items: center;
}

#about-text {
  margin-left: 150px;
  text-align: left;
  align-self: self-start;
  font-family: 'PT Serif', serif;
}
#about-text h2 {
  font-size: 60px;
  font-weight: lighter;
}

#about-text h4 {
  font-size: 25px;
  font-weight: lighter;
  font-style: italic;
}

#about-text p {
  font-size: 18px;
  line-height: 30px;
  justify-self: left;
  color: grey;
  width: 80%;
}

#img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 70px;
}

#moscow{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

#moscow img {
  width: 90%;
  height: 90%;
  object-fit: cover;
}

#hawaiian-pizza img {
  width: 100%;
  height: 95%;
  object-fit: cover;
}

#founded-container {
  height: 750px;
  margin-top: 150px;
  background-image: url("./assets/wineglass.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  align-content: center;
}

#founded-content {
  display: grid;
  align-content: center;
  font-family: 'PT Serif', serif;
  background-color: black;
  opacity: 0.8;
  height: 620px;
  color:white;
}

#founded-content h1{
  font-size: 60px;
  font-weight:10;

}

#founded-content p{
  font-size: 25px;
  font-weight: lighter;
  font-style: italic;
  margin-top: -10px;
}

#menu-container {
  height: 1200px;
  font-family: 'PT Serif', serif;
}

#menu-container h2 {
  font-size: 60px;
}

#menu-container Button {
  margin-top: 30px;
  border-radius: 0%;
  border: 2px solid black;
  background-color: white;
  height: 50px;
  width: 160px;
  font-family: 'PT Serif', serif;
  font-size: larger;
  transition: background-color 0.6s ease;
}

#menu-container button:hover {
  background: linear-gradient(to top left, black 100%, transparent 0%);
  color: white;
  transition: background-color 0.6s ease;
}
  /* add hover for button */

.products img {
  height: 400px;
  width: 400px;
}

.products {
  margin-left: 25px;
  display: grid;
  align-content: end;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 10px;
  
}

/* Styling for individual product divs */

.products .product-info {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  font-weight: 500;
  font-style: italic;
  
}

#review-container {
  height: 750px;
  background-image: url("./assets/review.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  align-content: center;
  color: white;
}

#review-content {
  display: grid;
  align-content: center;
  font-family: 'PT Serif', serif;
  background-color: rgba(0, 0, 0, 0.8);
  height: 620px;
  color:white;
  width: 100%;
}

#profile-container {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(2, 1fr);
}

#review-content h1{
  font-size: 50px;
  font-weight:10;
}

#review-content p{
  font-size: 25px;
  font-weight: lighter;
  font-style: italic;
  margin-top: -10px;
}

.review-profile img{
  height: 200px;
  width: 200px;
  border-radius: 80%;
}

.review-profile p {
  padding-top: 30px;
}



#footer-container {
  border-top: 1px solid black;
  height: 100px;
  display: flex;
  flex-direction: row;
  margin-bottom: -40px;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: white;  
}

.footer{
  
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

#footer-logo h1 {
  width: 180px;
  font-family: 'Kaushan Script', cursive;
  font-size: 20px;
}

#footer-details {
  list-style: none;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: 'PT Serif', serif;
  font-size: 14px;

}

#footer-details svg{
  margin-top: 10px;
}

/* CSS For Contacts Page */

#contact-container{
  margin-top: 50px;
  font-family: 'PT Serif', serif;
}


#contact-data-container{
  height: 750px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

#contact-info {
  margin-left: 300px;
  margin-top: -150px;
  text-align: left;
  
}

#contact-info h1 {
  font-weight: 800;
  font-size: 50px;
}

#contact-info p{
  font-weight: 500;
  font-style: italic;
  font-size: 20px;
}

.map {
  width: 80%;
  margin-right: -150px;
}
.map-container {
  width: 100%;
  height: 50vh;
  border-radius: 5%;
}